/*
ANIME BENSALEM, BRIAHANA MAUGÉ, JOSEPH P. PASAOA
APP MAIN SCSS | Capstone App (Pursuit Volunteer Mgr)
*/


/* BASE & VARIABLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .g1App {
    width: 100%;
    height: 100%;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Cabin', sans-serif;
// font-family: 'Catamaran', sans-serif;

:root {
    font-size: 16px;
    --fs-body: 1rem;
    --fs-h1: 1.1rem;
    --fs-h3: .9rem;

    --ff-top: 'Red Hat Display', sans-serif;
    --ff-body: 'Cabin', sans-serif;
    --ff-accent: 'Quicksand', sans-serif;

    --fw-bold: 800;

    --color-primary: #27237c;
    --color-yellow: #8d8558;
    --color-purple: #483569;
    --color-white: #e2e2e2;
    --color-black: #323232;
    --color-bodybase: #0c053a;

    --border-radii: .2rem;
    --box-shadow: 1px 6px 11px #0005;
    --bs-buttons: 5px 2px 7px #000a;
    --table-outer-gaps: 0;
    --table-inner-gaps: .8rem;
    
    --navbar-height: 4.6rem;
    --modal-body-border: #827e96;

    --zi-popup-1st: 1100;
    --zi-popup-footer: 1150;
    --zi-popup-2nd: 1200;
    --zi-navbar: 110;
    --zi-subnav: 120;
    --zi-carousel-arrows: 100;
}

    // MEDIA QUERY SIZING REFERENCE
    // Bootstrap reference
    // DEFAULT {} : xs : EXTRA SMALL devices (portrait phones, less than 576px)
    // @media (min-width: 576px) {} : sm : SMALL devices (landscape phones, 576px and up)
    // @media (min-width: 768px) {} : md : MEDIUM devices (tablets, 768px and up)
    // @media (min-width: 992px) {} : lg : LARGE devices (desktops, 992px and up)
    // @media (min-width: 1200px) {} : xl : EXTRA large devices (large desktops, 1200px and up)


/* BASE ELEMENT STYLING */
body {
    position: fixed; // prevents background scrolling with scroll

    background-color: var(--color-bodybase);  // when page is scrolled past viewport, this shows. so this should match darker gradient color below
    background-image: linear-gradient(180deg, var(--color-bodybase) 5%, #292b52f2 50%, #5d5c77eb 89%);
    // background-image: linear-gradient(180deg, var(--color-bodybase) 5%, #696a81 50%, #908fa1 89%);

    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--color-black);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        monospace
    ;
}

strong {
    font-weight: var(--fw-bold);
}

nav button {
    outline: none;
    background-color: transparent;
    transition: background .6s ease-out, border-radius 1s ease;

    &:focus {
        outline: none;
    }

    &[aria-expanded=true] {
        border-radius: .25rem .25rem 0 0;
        background-color: var(--color-yellow);
    }
}

/* HELPERS */
// for consistent styles between nav LINKS and nav BUTTONS
@mixin link-states() {
    &:link, &:visited {
        color: var(--color-white);
        text-decoration: none;
    }
    &:hover, &:active {
        color: var(--color-primary);
    }
}

@mixin link-states-disabled() {
    &, &:link, &:visited, &:hover, &:active {
        cursor: default;
        color: #666;
    }
}


.card-body {
    color: var(--color-black);
}

// .lightBox {
//     z-index: var(--zi-popup-1st) !important;
// }
.feedbackContainer {
    z-index: var(--zi-popup-2nd) !important;
}

// .lightBox,
.feedbackContainer {
    @media (max-width: 460px) {
        width: auto !important;
        left: initial !important;
        margin-right: 1rem;
    }
}

.g1VolunteerResults {
    & > div > div {
        height: 100%;
    }

    .card-body {
        @media (min-width: 576px) {
            min-height: 30rem;
        }
    }

    .card-img-top {
        cursor: pointer;
        max-width: 100%;
        height: 16rem;
        object-fit: cover;
    }

    .g1FlexFill {
        height: 100%;
    }

    h4 {
        cursor: pointer;
        height: 4rem;

        @include link-states();
    }

    .g1VResultsJob {
        @media (min-width: 576px) {
            height: 4rem;
        }
    }
}

.g1EventsResults {
    .rounded-lg {
        background-color: #bbb;
        color: var(--color-black);
        border: solid 1px var(--color-purple) !important;
        height: 100%;
    }

    header {
        color: var(--color-white);
    }

    .text-warning {
        color: #ffd65b !important;
    }
}

.g1TempProfilePatch.g1ModalDialog {
    @media (min-width: 768px) {
        max-width: unset;
    }

    .g1ProfilePic {
        width: 100%;
    }
}

/* CLASS STYLINGS */
#root {
    overflow-y: scroll;
}

.g1App {
    padding-right: 0;
    padding-left: 0;
    color: var(--color-white);
}

div.card-text {
    margin-bottom: 1rem;
}

.g1BtnAsLink {  // for buttons used as what look like links
    border: none;
    width: 100%;
    background-color: transparent;
    text-align: inherit;
    color: var(--color-white);

    @include link-states();

    &:focus {
        outline: none;
    }

    &.g1DisableLink {
        @include link-states-disabled();
    }
}

.g1Navbar {
    position: fixed;
    top: 0px;
    height: var(--navbar-height);
    align-items: flex-start;
    z-index: var(--zi-navbar);
    // box-shadow: 0px 6px 29px 2px #000a; // optional, save for later idea

    font-family: var(--ff-top);

    a {
        @include link-states();

        &.g1DisableLink {
            @include link-states-disabled();
        }
    }

    @media (max-width: 576px) {
        max-width: 100%;
        // max-width: calc(100% - 1rem);
    }

    .g1NavbarBg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: var(--navbar-height);
        z-index: var(--zi-navbar);
        background-image: linear-gradient(180deg, var(--color-bodybase) 45%, #0f093cf2 100%);
    }

    .g1Brand,
    .g1NavbarToggler,
    .g1Collapse,
    .g1Subnav {
        z-index: var(--zi-subnav);
    }
}

.g1Brand {  // the logo text
    color: var(--color-white);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 240%;
    line-height: 2.4rem;
    margin-top: .1rem;  // used in conjunction with burger margin-top to even out top of page

    span {  // the accented "V"
        color: var(--color-yellow);
    }
}

.g1NavbarToggler {   // burger positioning
    padding: 0 .75rem;
    height: 55%;
    margin-top: .32rem;  // used in conjunction with burger margin-top to even out top of page
}

.g1DropdownMenu {
    @media (max-width: 992px) {   // sub-dropdown menus
        border-radius: 0;
        text-align: right;
    }
    @media (min-width: 992px) {   // regular navmenu dropdowns
        border-radius: var(--border-radii);
        text-align: left;
        // background-color: #000 !important;
        // background-image: linear-gradient(180deg, #8d8557, #8d855773);
    }
}

.g1Collapse {
    @media (max-width: 992px) {
        margin-left: 25%;   // sizes dropdown menu width, removing left width
        border-radius: .75rem 0 .75rem .75rem;
        border: solid 2px #222;
        // background-color: #000 !important;
        // background-image: linear-gradient(180deg, #8d8557, #8d855773);
    }
    @media (min-width: 992px) {
        background-color: transparent !important;
    }
}

.g1Subnav {
    position: absolute;
    top: 3rem;
    left: 1.1rem;
    width: 100%;
    padding-right: 2rem;

    display: flex;
    flex-direction: row;

    h1 {
        padding-right: .5rem;

        color: #0aa2dc;
        font-family: var(--ff-top);
        font-weight: var(--fw-bold);
        font-size: var(--fs-h1);
        text-transform: uppercase;
        white-space: nowrap;
    }

    div {
        position: relative;
        top: 4.5px;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(90deg, #ab9f5a, #0805b3);
    }
}


/* MAIN BODY COMPONENTS */
.g1Stage {
    padding-top: calc(var(--navbar-height) + .4rem);
}

.g1Card {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(75, 50, 107, 0.41) 0%, rgba(37, 13, 68, 0.45) 100%);
    // background-image: linear-gradient(90deg, rgba(35, 0, 79, 0.29) 0%, rgba(35, 0, 79, 0.1943) 100%);
    border-radius: var(--border-radii);
    line-height: 1.2rem;
    padding-bottom: .1rem;

    &.g1CardImportant {
        background-image: linear-gradient(90deg, rgba(95, 84, 54, 0.88) 0%, rgba(109, 90, 0, 0.35) 100%);

        .g1CardHeader span {
            color: #b39d5d;
        }
        .g1THead {
            color: #de9e3b;
        }
    }

    &.g1CardPast {
        background-image: linear-gradient(90deg, #212121d1 0%, #1919197a 100%);

        .g1CardHeader span {
            color: #717ca0;
        }
        .g1THead {
            color: #af7394;
        }
    }
}

.g1CardHeader {
    background-color: transparent;
    border-bottom: none;

    color: var(--color-white);
    font-family: var(--ff-accent);
    font-size: var(--fs-h3);
    font-weight: 900;

    span {
        color: var(--color-primary);
        color: #476CEF;
    }
}

.g1CardBody {
    color: var(--color-white);
}


// ALL: EVENTS DASH
.g1Table {
    display: table;

    width: 100%;
    border: 0;
    color: var(--color-white);

    .ongoing {
        color: #efefef;

        .g1TD {
            background-color: #ff658229;
        }
    }
    .important {
        color: #d4c358;

        .g1TimeCol u {
            text-decoration: none;
            color: #f17f08eb;
        }
    }
    .passed { color: #999; }

    .g1THead {
        display: table-header-group;
        
        padding-bottom: calc(var(--table-inner-gaps) * .15);

        color: #a54d8e;
        text-transform: uppercase;
        font-size: calc(var(--fs-body) * .75);

        .g1TD {
            border-bottom: 1px dashed #696969;
        }
    }

    .g1TBody {
        display: table-row-group;

        .g1EmptyRowMsg {
            margin-top: .6rem;
            color: #888;
            font-style: italic;
        }
    }

    .g1TR {
        display: table-row;
    }

    .g1TD {
        display: table-cell;

        padding: 0;
        border-top: 0;
    }

    .g1TBody .g1TD {
        padding-top: .1rem;
        padding-bottom: .2rem;
    }

    .g1TopicCol, .g1TimeCol {
        line-height: 1.2rem;
    }
    
    .g1TopicCol {
        text-align: left;
        padding-right: var(--table-inner-gaps);
        padding-left: var(--table-outer-gaps);
    }

    .g1TimeCol {
        padding-right: var(--table-outer-gaps);
        padding-left: var(--table-inner-gaps);
        border-left: 1px dashed #696969;

        u {
            text-decoration: none;
            color: #7cf;
        }
    }

    .passed .g1TimeCol u {
        color: #5f5f5f;
    }
}

.g1TBody .g1TR:nth-of-type(odd) {
    background-color: rgba(0,0,0,.11);
}
.g1TBody .g1TR:nth-of-type(even) {
    background-color: rgba(173, 156, 156, 0.03);
}

.g1BufferRow.g1TBody .g1TR {
    background-color: #2d2d48fa;
    height: .3rem;
}

.g1BufferRow + .g1TBody .g1TR .g1TD {
    padding-top: 4px;
}

.g1EventLink {
    cursor: pointer;
}


// ADMIN: NEW VOLUNTEERS CAROUSEL
.g1NewVolCarousel {
    .g1CarouselArrows {
        position: absolute;
        top: 12.5rem;
        left: 1px;
        width: 100%;

        .g1CarouselArrowsInterior {
            width: 100%;

            & > div {
                display: flex;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                height: 2.7rem;
                border: solid 1px #60366e;
                border-radius: 4rem;

                position: relative;
                transform: translateX(0px); // used to bring buttons up to visual plane context above card data
                z-index: var(--zi-carousel-arrows);

                background-color: var(--color-primary);
                box-shadow: var(--bs-buttons);

                & > a {
                    height: 100%;
                    width: 100%;

                    &:first-child {
                        border-right: solid 1px var(--color-white);
                    }
                }
            }
        }

        @media (max-width: 992px) {
            top: 2.5rem;
            width: 100%;

            .g1CarouselArrowsInterior {
                width: 29%;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: static;
    }

    .g1NewVolCard button {
        width: 100%;
    }

    .carousel-indicators {
        position: relative;
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;

        li {
            position: relative;
            opacity: .2;
            height: 16px;
            border-top-width: 2px;
            transition: opacity .6s ease, background-color .6s ease;

            div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                color: var(--color-black);
                font-family: var(--ff-accent);
                text-indent: 0;
                text-transform: uppercase;
            }
        }

        .active {
            opacity: 1;
            background-color: var(--color-white);

            div {
                color: var(--color-primary);
                outline: solid 2px var(--color-yellow);
            }
        }
    }

    .g1NewVolBtns {
        @media (max-width: 992px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;

            .btn {
                white-space: nowrap;
            }
        }
    }

    .g1Avatar {
        width: 8rem;
        object-fit: cover;
        height: 8rem;
        border-radius: var(--border-radii);
        float: left;

        @media (max-width: 768px) {
            float: right;
        }
    }

    .g1NVFaceDate {
        @media (max-width: 768px) {
            text-align: right;
        }
    }

    .g1NVName {
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4rem;
        color: var(--color-white);
        font-family: var(--ff-top);
        font-size: 1.2rem;
        border-bottom: solid 1px var(--color-primary);
    }

    .g1NewVolSkills {
        clear: both;
        list-style: none;
        text-align: right;

        @media (min-width: 768px) {
            text-align: left;
            padding-left: 6rem;
        }

        @media (min-width: 992px) {
            padding-left: 0;
        }

        strong {
            display: block;
            text-transform: lowercase;
            font-family: var(--ff-top);
            font-size: .8rem;
            color: #b5a31b;
        }
    }
}

.g1EventsResults {
    header {
        cursor: pointer;
        background-color: var(--color-primary);
    }
}


/* FLOATING COMPONENTS */
.g1Lightbox {
    position: fixed;
    max-height: 77vh;
    width: clamp(60vw, 54rem, 56rem);
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
}

.g1ModalDialog {
    color: var(--color-black);

    @media (min-width: 768px) {
        max-width: 642px;
    }

    .modal-header,
    .modal-footer {
        background-color: #a3a9bf;
    }

        .modal-header {
            border-bottom-color: var(--modal-body-border);
        }
        .modal-footer {
            border-top-color: var(--modal-body-border);
        }

    .g1CloseContainer {
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        left: 0;

        .close {
            color: red;
            outline: none;
        }
    }

    h5.modal-title {
        color: var(--color-primary);
        font-family: var(--ff-top);
        font-size: 1.35rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    .modal-body {
        background-color: #c5c5c5;
    }
    .modal-footer { // necessary to place above Close button plane
        z-index: var(--zi-popup-footer);
    }

    .g1ModalWarning {
        background-color: #e69b9b;
        padding: 1rem;
        border: solid 1px red;
        border-radius: var(--border-radii);
    }

    .g1ProfilePic {
        object-fit: cover;
        height: auto;
        max-width: 270px;
        border: solid 2px var(--color-black);
        border-radius: var(--border-radii);

        @media (min-width: 576px) {
            float: right;
        }
        @media (min-width: 768px) {
            height: 300px;
            width: 300px;
            max-width: 300px;
        }
    }

    div[data-type='contactinfo'] {
        @media (max-width: 400px) {
            font-size: .85rem;
        }
        @media (max-width: 768px) {
            clear: both;
        }
    }

    .g1ModalField {
        display: block;

        i { // for labels
            display: inline-block;
            // width: 6.3rem;
            margin-right: .7rem;

            text-align: right;
            font-style: normal;
            color: #8c8557;

            &.g1VolContact {
                // width: 2.11rem;
                margin-left: 1rem;
            }

            &.break {
                display: block;
            }

            .g1ReactIconsSvg {
                position: relative;
            }
        }

        &[data-type='hours'] {
            margin-left: 1rem;

            @media (max-width: 576px) {
                margin-left: 0;

                span {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }

        &[data-type='skills'],
        &[data-type='interests'] {
            // display: flex;
            // margin-left: 1rem;
            display: grid;
            grid-template-columns: 7rem auto;

            @media (max-width: 576px) {
                display: block;

                i {
                    display: block;
                    text-align: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }

        &[data-type='interests'] span {
            display: block;

            &::before {
                content: '● ';
                // color: #888;
            }
        }

        .g1VolSkill {
            margin-right: .5rem;
        }

        &[data-type='skills'] {
            i {
                color: var(--color-primary);
            }
        }
        &[data-type='interests'] {
            i {
                color: maroon;
            }
        }

        &[data-type='hours'] {
            i {
                color: green;
            }
        }

        &[data-type='mentoring'] i {
            color: var(--color-black);
        }
    }

    .g1MentoringFlex {
        display: grid;
        grid-template-columns: 13.5rem 9rem auto;

        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;

            .g1ModalField {
                margin: 1rem 0 0 3rem;
            }

            span {
                margin-left: 5rem;
            }
        }
    }

    .g1MentorActiveLabel {
        display: block;
        color: green;
        font-style: normal;
        text-transform: uppercase;
    }

    .g1VolModalEvents {
        i {
            display: block;
            color: var(--color-primary);
            font-weight: bold;
            font-style: normal;
        }
    }

    .g1VolMentees {
        display: block;
        width: max-content;
    }
    .g1ManageVols {
        padding-top: .5rem;
        background-image: linear-gradient(174deg, #efefef, #bfbfbf);

        label {
            cursor: pointer;
        }
    }

    .g1EmptyMsg {
        color: #999;
        font-style: italic;
    }

    .g1VolNumConfirmed {
        color: green;
        font-style: italic;
    }
    .g1VolNumPending {
        display: inline-block;
        margin-left: .3rem;
        color: #da9905;
        font-style: italic;
    }
    .g1VolNumRequested {
        display: inline-block;
        margin-left: .3rem;
        color: #999;
        font-style: italic;
    }

    .g1VolConfirmedLabel {
        color: #bbb;
        transition: color .4s ease-out;
    }
    .g1VolConfirmedLabelOn {
        color: green;
    }

    .g1VolName {
        transition: color .4s ease-out;

        @media (max-width: 576px) {
            text-align: left;
            position: relative;
            top: 1px;
        }
    }
    .g1VolNamePending {
        color: #da9905;
    }

    .g1HoursForm .form-control {
            width: 5.5rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: .5rem!important;

            @media (max-width: 576px) {
                margin-left: 2.6rem;
            }
    }

    .g1NonAdminFooter {
        flex-direction: column;
    }

    .g1Request {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin-bottom: 1rem;
        padding: 0 1rem;

        &.g1Pending {
            color: #ffe14e;
        }
        &.g1Confirmed {
            color: green;
        }

    }

    .g1MinimizeFooterButton {
        margin-right: auto;
    }

    &.g1VolunteerModal {
        @media (min-width: 768px) {
            max-width: 760px;
        }

        .modal-header,
        .modal-footer {
            background-color: #a7a078;
        }

        h5.modal-title {
            color: var(--color-yellow);
        }
    }
}

.g1SecondaryModal {
    position: absolute;
    top: 39%;
    left: -50%;
    transform: translate(-50%, -77%);
    max-width: 39rem;
    border: solid 1px rgba(0,0,0,.4);
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    outline: 0;

    background-color: #f3f3f3;
    color: var(--color-black);
    text-align: center;
    font-family: var(--ff-top);
    font-size: .95rem;
    z-index: -3000;
    opacity: 0;
    transition: none;

    --modal-body-border: #5a5073;

    strong {
        font-weight: 900;
    }

    &.g1FeedbackOn {
        left: 50%;
        opacity: 1;
        z-index: 3000;
        transition: opacity .1s linear;
    }

    .g1SecondaryModalClose {
        outline: none;

        font-family: var(--ff-body);
        color: red;
        text-shadow: 0 1px 0 #000;
    }

    .g1SModalHeader, .g1SModalFooter {
        background-color: #6a5e6d;
    }

    .g1SModalHeader {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        padding: .5rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-bottom-color: var(--modal-body-border);
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);
    }

    .g1SModalBody {
        padding: .5rem 3.5rem;
    }

    .g1SModalFooter {
        padding: .5rem;
        border-top: 1px solid #dee2e6;
        border-top-color: var(--modal-body-border);
        border-bottom-left-radius: calc(.3rem - 1px);
        border-bottom-right-radius: calc(.3rem - 1px);
    }
}

// .g1PopoverBtn {
//     &, &:hover, &:active, &:focus {
//         --event-indent: 1.5rem;

//         all: unset;
//         cursor: pointer;
//         text-indent: calc(var(--event-indent) * -1);
//         position: relative;
//         left: (var(--event-indent));
//     }

//     &:hover, &:active {
//         color: var(--color-yellow) !important;
//     }

//     &.btn-secondary:not(:disabled):not(.disabled):active {
//         color: inherit;
//         background-color: inherit;
//         border: none;
//         box-shadow: none;
//     }

//     @include link-states();
// }

// .topicCol .g1PopoverBtn::before {
//     content: "▪︎ ";
//     // color: red;▪︎
// }

// .g1PopoverParent {
//     .popover {
//         border-radius: var(--border-radii);
//         box-shadow: var(--box-shadow);
//     }

//     .popover-header {
//         font-family: var(--ff-top);
//         border-top-left-radius: var(--border-radii);
//         border-top-right-radius: var(--border-radii);

//         .times {
//             font-size: .9rem;
//             font-weight: 900;
//             font-style: italic;
//             color: var(--color-primary);
//         }
//     }

//     .g1PopoverGoLink {
//         display: block;
//         font-size: .8rem;
//         text-transform: lowercase;
//         text-align: right;

//         @include link-states();
//     }

//     .bs-popover-auto[x-placement^=right] .g1PopoverGoLink {
//         text-align: left;
//     }
// }

// Popover Arrows
// .g1PopoverParent {
//     --parrow-top: 3px;
//     --parrow-y-squeeze: .4rem;
//     --parrow-x-nudge: 1.2rem;
//     --parrow-color: #476cef;

//     .bs-popover-auto[x-placement^=right] {
//         left: 11px !important;
//     }

//     .bs-popover-auto[x-placement^=left]>.arrow::after,
//     .bs-popover-left>.arrow::after {
//         top: var(--parrow-top);
//         right: .3rem;
//         border-width: var(--parrow-y-squeeze) 0 var(--parrow-y-squeeze) var(--parrow-x-nudge);
//         border-left-color: var(--parrow-color);
//     }

//     .bs-popover-auto[x-placement^=right]>.arrow::after,
//     .bs-popover-right>.arrow::after {
//         top: var(--parrow-top);
//         left: -.4rem;
//         border-width: var(--parrow-y-squeeze) var(--parrow-x-nudge) var(--parrow-y-squeeze) 0;
//         border-right-color: var(--parrow-color);
//     }
// }

// .popover-header {
//     background-color: var(--color-yellow);
//     filter: grayscale(.4) brightness(1.4);
// }


@media (max-width: 992px) {
    .g1MobileTextALign {
        width: 100%;
        text-align: left;   // MASTER TEXT-ALIGN for small device nav dropdown
    }
}


// MEDIA QUERY MORE SPECIFIC STYLING
    // Bootstrap reference
    // DEFAULT {} : xs : EXTRA SMALL devices (portrait phones, less than 576px)
    // @media (min-width: 576px) {} : sm : SMALL devices (landscape phones, 576px and up)
    // @media (min-width: 768px) {} : md : MEDIUM devices (tablets, 768px and up)
    // @media (min-width: 992px) {} : lg : LARGE devices (desktops, 992px and up)
    // @media (min-width: 1200px) {} : xl : EXTRA large devices (large desktops, 1200px and up)
