/*
ANIME BENSALEM, BRIAHANA MAUGÉ, JOSEPH P. PASAOA
APP MAIN SCSS | Capstone App (Pursuit Volunteer Mgr)
*/


/* BASE & VARIABLES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .g1App {
    width: 100%;
    height: 100%;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Cabin', sans-serif;
// font-family: 'Catamaran', sans-serif;

:root {
    font-size: 16px;
    --fs-body: 1rem;
    --fs-h1: 1.1rem;
    --fs-h3: .9rem;

    --ff-body1: 'Quicksand', sans-serif;
    --ff-accent: 'Cabin', sans-serif;
    --ff-top: 'Red Hat Display', sans-serif;

    --fw-bold: 800;

    --color-primary: #27237c;
    --color-yellow: #8d8558;
    --color-purple: #483569;
    --color-white: #e2e2e2;
    --color-black: #323232;

    --border-radii: .2rem;
    --box-shadow: 1px 6px 11px #0005;
    --table-outer-gaps: 0;
    --table-inner-gaps: .8rem;
    
    --navbar-height: 5rem;
}

    // MEDIA QUERY SIZING
    // Bootstrap reference
    // DEFAULT {} : xs : EXTRA SMALL devices (portrait phones, less than 576px)
    // @media (min-width: 576px) {} : sm : SMALL devices (landscape phones, 576px and up)
    // @media (min-width: 768px) {} : md : MEDIUM devices (tablets, 768px and up)
    // @media (min-width: 992px) {} : lg : LARGE devices (desktops, 992px and up)
    // @media (min-width: 1200px) {} : xl : EXTRA large devices (large desktops, 1200px and up)

    @media (min-width: 992px) {
        // placeholder
    }


/* BASE ELEMENT STYLING */
body {
    position: fixed; // prevents background scrolling with scroll

    background-color: #1a1635;  // when page is scrolled past viewport, this shows. so this should match darker gradient color below
    background-image: linear-gradient(180deg, #1a1635 5%, #696a81 50%, #908fa1 89%);

    font-family: var(--ff-body1);
    font-size: var(--fs-body);
    color: var(--color-black);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 
        source-code-pro,
        Menlo,
        Monaco,
        Consolas,
        'Courier New',
        monospace
    ;
}

strong {
    font-weight: var(--fw-bold);
}

nav button {
    outline: none;
    background-color: transparent;
    transition: background .6s ease-out, border-radius 1s ease;

    &:focus {
        outline: none;
    }

    &[aria-expanded=true] {
        border-radius: .25rem .25rem 0 0;
        background-color: var(--color-yellow);
    }
}

/* HELPERS */
// for consistent styles between nav LINKS and nav BUTTONS
@mixin link-states() {
    &:link, &:visited {
        color: var(--color-white);
        text-decoration: none;
    }
    &:hover, &:active {
        color: var(--color-primary);
    }
}

@mixin link-states-disabled() {
    &, &:link, &:visited, &:hover, &:active {
        cursor: default;
        color: #666;
    }
}


.card-body,
.lightBox {
    color: var(--color-black);
}

.lightBox,
.feedbackContainer {
    z-index: 100 !important;

    @media (max-width: 460px) {
        width: auto !important;
        left: initial !important;
        margin-right: 1rem;
    }
}

/* CLASS STYLINGS */
#root {
    overflow-y: auto;
}

.g1App {
    padding-top: var(--navbar-height);
    padding-right: 0;
    padding-left: 0;
    color: var(--color-white);
}

.g1BtnAsLink {  // for buttons used as what look like links
    border: none;
    width: 100%;
    background-color: transparent;
    text-align: inherit;
    color: var(--color-white);

    @include link-states();

    &:focus {
        outline: none;
    }

    &.g1DisableLink {
        @include link-states-disabled();
    }
}

.g1Navbar {
    position: fixed;
    top: 0px;
    height: var(--navbar-height);
    align-items: flex-start;
    z-index: 90;
    // box-shadow: 0px 6px 29px 2px #000a; // optional, save for later idea

    font-family: var(--ff-top);

    a {
        @include link-states();

        &.g1DisableLink {
            @include link-states-disabled();
        }
    }

    @media (max-width: 576px) {
        max-width: 100%;
        // max-width: calc(100% - 1rem);
    }

    .g1NavbarBg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: var(--navbar-height);
        z-index: 90;
        background-image: linear-gradient(180deg, #1a1635 45%, #23203e);
    }

    .g1Brand,
    .g1NavbarToggler,
    .g1Collapse {
        z-index: 100;
    }
}

.g1Brand {  // the logo text
    color: var(--color-white);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 240%;
    line-height: 2.4rem;
    margin-top: .1rem;  // used in conjunction with burger margin-top to even out top of page

    span {  // the accented "V"
        color: var(--color-yellow);
    }
}

.g1NavbarToggler {   // burger positioning
    padding: 0 .75rem;
    height: 55%;
    margin-top: .2rem;  // used in conjunction with burger margin-top to even out top of page
}

.g1DropdownMenu {
    @media (max-width: 992px) {   // sub-dropdown menus
        border-radius: 0;
        text-align: right;
    }
    @media (min-width: 992px) {   // regular navmenu dropdowns
        border-radius: var(--border-radii);
        text-align: left;
        // background-color: #000 !important;
        // background-image: linear-gradient(180deg, #8d8557, #8d855773);
    }
}

.g1Collapse {
    @media (max-width: 992px) {
        margin-left: 25%;   // sizes dropdown menu width, removing left width
        border-radius: .75rem 0 .75rem .75rem;
        // background-color: #000 !important;
        // background-image: linear-gradient(180deg, #8d8557, #8d855773);
    }
    @media (min-width: 992px) {
        background-color: transparent !important;
    }
}


// Body Cards
.g1Card {
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(35, 0, 79, 0.29) 0%, rgba(35, 0, 79, 0.1943) 100%);
    border-radius: var(--border-radii);
    padding-bottom: .1rem;

    &.g1CardImportant {
        background-image: linear-gradient(90deg, rgba(95, 84, 54, 0.88) 0%, rgba(109, 90, 0, 0.35) 100%);

        .g1CardHeader span {
            color: #b39d5d;
        }
        .g1THead {
            color: #de9e3b;
        }
    }

    &.g1CardPast {
        background-image: linear-gradient(90deg, #212121d1 0%, #1919197a 100%);

        .g1CardHeader span {
            color: #717ca0;
        }
        .g1THead {
            color: #af7394;
        }
    }
}

.g1CardHeader {
    background-color: transparent;
    border-bottom: none;

    color: var(--color-white);
    font-family: var(--ff-accent);
    font-size: var(--fs-h3);
    font-weight: 900;

    span {
        color: var(--color-primary);
        color: #476CEF;
    }
}

.g1CardBody {
    color: var(--color-white);
}

.g1Table {
    display: table;

    width: 100%;
    font-family: var(--ff-accent);
    border: 0;
    color: var(--color-white);

    .ongoing {
        color: #efefef;

        .g1TD {
            background-color: #ff658229;
        }
    }
    .important {
        color: #d4c358;

        .g1TimeCol u {
            text-decoration: none;
            color: #f17f08eb;
        }
    }
    .passed { color: #999; }

    .g1THead {
        display: table-header-group;
        
        padding-bottom: calc(var(--table-inner-gaps) * .15);

        color: #a54d8e;
        text-transform: uppercase;
        font-size: calc(var(--fs-body) * .75);
        font-family: var(--ff-accent);

        .g1TD {
            border-bottom: 1px dashed #696969;
        }
    }

    .g1TBody {
        display: table-row-group;
    }

    .g1TR {
        display: table-row;
    }

    .g1TD {
        display: table-cell;

        padding: 0;
        border-top: 0;
    }

    .g1TBody .g1TD {
        padding-top: .1rem;
        padding-bottom: .2rem;
    }

    .g1TopicCol, .g1TimeCol {
        line-height: 1.2rem;
    }
    
    .g1TopicCol {
        text-align: left;
        padding-right: var(--table-inner-gaps);
        padding-left: var(--table-outer-gaps);
    }

    .g1TimeCol {
        padding-right: var(--table-outer-gaps);
        padding-left: var(--table-inner-gaps);
        border-left: 1px dashed #696969;

        u {
            text-decoration: none;
            color: #7cf;
        }
    }

    .passed .g1TimeCol u {
        color: #5f5f5f;
    }
}

.g1TBody .g1TR:nth-of-type(odd) {
    background-color: rgba(0,0,0,.11);
}
.g1TBody .g1TR:nth-of-type(even) {
    background-color: rgba(173, 156, 156, 0.03);
}

.g1BufferRow.g1TBody .g1TR {
    background-color: #2d2d48fa;
    height: .3rem;
}

.g1BufferRow + .g1TBody .g1TR .g1TD {
    padding-top: 4px;
}

.g1EventLink {
    cursor: pointer;
}


.g1NewVolCarousel {
    .carousel-inner {
        width: calc(100% - 2rem);
        margin: 0 auto;
    }

    .carousel-indicators {
        position: relative;
        justify-content: flex-start;
        margin-right: 0;
        margin-left: 0;

        li {
            position: relative;
            opacity: .2;
            height: 16px;
            transition: opacity .6s ease, background-color .6s ease;

            div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                color: var(--color-black);
                text-indent: 0;
                text-transform: uppercase;
            }
        }

        .active {
            opacity: 1;
            background-color: var(--color-white);

            div {
                color: var(--color-primary);
                outline: solid 2px var(--color-yellow);
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 1rem;
    }

    // .carousel-item {
    //     // display: block;
    //     // opacity: 1;
    //     // transition: opacity 1s ease-in-out;

    //     &.active {
    //         // opacity: 1;
    //     }
    // }
}

// .g1PopoverBtn {
//     &, &:hover, &:active, &:focus {
//         --event-indent: 1.5rem;

//         all: unset;
//         cursor: pointer;
//         text-indent: calc(var(--event-indent) * -1);
//         position: relative;
//         left: (var(--event-indent));
//     }

//     &:hover, &:active {
//         color: var(--color-yellow) !important;
//     }

//     &.btn-secondary:not(:disabled):not(.disabled):active {
//         color: inherit;
//         background-color: inherit;
//         border: none;
//         box-shadow: none;
//     }

//     @include link-states();
// }

// .topicCol .g1PopoverBtn::before {
//     content: "▪︎ ";
//     // color: red;▪︎
// }

// .g1PopoverParent {
//     .popover {
//         border-radius: var(--border-radii);
//         box-shadow: var(--box-shadow);
//         font-family: var(--ff-accent);
//     }

//     .popover-header {
//         font-family: var(--ff-top);
//         border-top-left-radius: var(--border-radii);
//         border-top-right-radius: var(--border-radii);

//         .times {
//             font-size: .9rem;
//             font-weight: 900;
//             font-style: italic;
//             color: var(--color-primary);
//         }
//     }

//     .g1PopoverGoLink {
//         display: block;
//         font-size: .8rem;
//         text-transform: lowercase;
//         text-align: right;

//         @include link-states();
//     }

//     .bs-popover-auto[x-placement^=right] .g1PopoverGoLink {
//         text-align: left;
//     }
// }

// Popover Arrows
// .g1PopoverParent {
//     --parrow-top: 3px;
//     --parrow-y-squeeze: .4rem;
//     --parrow-x-nudge: 1.2rem;
//     --parrow-color: #476cef;

//     .bs-popover-auto[x-placement^=right] {
//         left: 11px !important;
//     }

//     .bs-popover-auto[x-placement^=left]>.arrow::after,
//     .bs-popover-left>.arrow::after {
//         top: var(--parrow-top);
//         right: .3rem;
//         border-width: var(--parrow-y-squeeze) 0 var(--parrow-y-squeeze) var(--parrow-x-nudge);
//         border-left-color: var(--parrow-color);
//     }

//     .bs-popover-auto[x-placement^=right]>.arrow::after,
//     .bs-popover-right>.arrow::after {
//         top: var(--parrow-top);
//         left: -.4rem;
//         border-width: var(--parrow-y-squeeze) var(--parrow-x-nudge) var(--parrow-y-squeeze) 0;
//         border-right-color: var(--parrow-color);
//     }
// }

// .popover-header {
//     background-color: var(--color-yellow);
//     filter: grayscale(.4) brightness(1.4);
// }


@media (max-width: 992px) {
    .g1MobileTextALign {
        width: 100%;
        text-align: left;   // MASTER TEXT-ALIGN for small device nav dropdown
    }
}


// MEDIA QUERY MORE SPECIFIC STYLING
    // Bootstrap reference
    // DEFAULT {} : xs : EXTRA SMALL devices (portrait phones, less than 576px)
    // @media (min-width: 576px) {} : sm : SMALL devices (landscape phones, 576px and up)
    // @media (min-width: 768px) {} : md : MEDIUM devices (tablets, 768px and up)
    // @media (min-width: 992px) {} : lg : LARGE devices (desktops, 992px and up)
    // @media (min-width: 1200px) {} : xl : EXTRA large devices (large desktops, 1200px and up)
