// ADMIN: NEW VOLUNTEERS DASH MODULE
.g1NVDash {
    .g1Module__Body {
        min-height: 16rem;
    }
}

.g1EmptyNewVolsMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: inherit;

    font-family: var(--ff-accent);
    color: #882f70;
    font-size: 1.2rem;
    transform: translateY(-4%);
}

.g1NewVolCarousel {
    .carousel-indicators::before {
        content: 'Initials';
        position: relative;
        top: 4px;
        padding: 0 .4rem 0 0;

        font-family: var(--ff-accent);
        font-size: 14px;
        text-transform: lowercase;
        color: #974785;
    }

    .g1CarouselArrows {
        position: absolute;
        top: 12.5rem;
        left: 1px;
        width: 100%;

        .g1CarouselArrowsInterior {
            width: 100%;
            min-width: 8rem;

            & > div {
                display: flex;
                justify-content: space-around;
                align-items: center;

                width: 100%;
                height: 2.7rem;
                border-radius: 4rem;

                position: relative;
                transform: translateX(0px); // used to bring buttons up to visual plane context above card data
                z-index: var(--zi-carousel-arrows);

                background-color: #311243;
                box-shadow: var(--bs-buttons);

                & > a {
                    &:first-child {
                        &:link, &:visited {
                            height: 100%;
                            width: 100%;
                            border: solid 1px #999;
                            border-radius: 4rem 0 0 4rem;
                            transition: border-color .4s ease-out, background-color .2s ease-out, transform .1s ease-out;
                        }
                        &:hover {
                            border-color: var(--color-white);
                            border-right-color: #999;
                            background-color: var(--color-highlight);
                        }
                        &:active {
                            background-color: var(--color-white);
                            transform: translate(1px, 1px);
                        }
                    }
                    &:last-child {
                        &:link, &:visited {
                            height: 100%;
                            width: 100%;
                            border: solid 1px #999;
                            border-left: 0;
                            border-radius: 0 4rem 4rem 0;
                            transition: border-color .4s ease-out, background-color .2s ease-out;
                        }
                        &:hover {
                            border-color: var(--color-white);
                            background-color: var(--color-highlight);
                        }
                        &:active {
                            background-color: var(--color-white);
                            transform: translate(1px, 1px);
                        }
                    }

                }
            }
        }

        @media (max-width: 992px) {
            top: 2.5rem;
            width: 100%;

            .g1CarouselArrowsInterior {
                width: 29%;
            }
        }

        @media (max-width: 429px) {
            @include flex-straight(row, center, center);
            top: 6.3rem;
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: static;
    }

    .g1NewVolCard button {
        width: 100%;
    }

    .carousel-indicators {
        position: relative;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
        transform: translateX(-2%);

        li {
            position: relative;
            top: .1rem;
            opacity: .2;
            height: 16px;
            border-top-width: 2px;
            transition: opacity .6s ease, background-color .6s ease;

            div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                display: flex;
                justify-content: center;
                align-items: center;
                height: 98%;
                width: 100%;

                color: var(--color-black);
                font-family: var(--ff-body);
                font-size: .8rem;
                text-indent: 0;
                text-transform: uppercase;
            }
        }

        .active {
            opacity: 1;
            background-color: var(--color-white);

            div {
                color: var(--color-highlight);
                outline: solid 2px var(--color-highlight);
            }
        }
    }

    .g1NewVolBtns {
        @media (max-width: 991px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;

            .btn {
                white-space: nowrap;
            }
        }

        @media (max-width: 429px) {
            padding: 0 3rem;
            max-width: initial;
            margin: 0;
            flex: 0 0 100%;
            justify-content: center;
        }
    }

    .g1NewVolData {
        &__Avatar {
            width: 8rem;
            object-fit: contain;
            height: 8rem;
            filter: drop-shadow(0 0 1px #111);
            border-radius: var(--border-radii);
            float: right;

            @media (max-width: 429px) {
                float: none;
                width: 14rem;
                object-fit: contain;
                height: auto;
                border-radius: var(--border-radii);
                margin: 4rem 0 1rem 50% !important;
                transform: translateX(-50%);
            }
        }

        &__TopInfo {
            @media (max-width: 429px) {
                @include flex-straight(column, flex-start, center);
            }

            & > * {
                width: max-content;
            }
        }

        &__Name {
            margin-bottom: .4rem;

            font-family: var(--ff-body);
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.4rem;
            color: var(--color-white);
        }

        &__Company {
            // color: var(--color-yellow);
            font-weight: bold;
        }

        &__EmailLink {
            display: block;
        }

        &__SkillsInts {
            text-align: left;

            @media (max-width: 429px) {
                text-align: center;
            }

            @media (min-width: 992px) {
                padding-left: 0;
            }

            &::before {
                content: 'skills/interests';
                display: block;
                margin-top: 1rem;

                font-family: var(--ff-accent);
                font-size: .9rem;
                font-weight: bold;
                text-transform: lowercase;
                color: #882f70;
            }

            li {
                font-size: .9rem;
                line-height: 1rem;
            }
        }
    }
}