.g1ToggleListOrGrid {
    .g1LeftLabel {
        margin-left: 1rem;
    }
    .custom-switch {
        display: inline-block;
        margin-left: .4rem;

        label::before {
            left: -2.2rem;
        }
        label::after {
            left: calc(-2.2rem + 2px);
        }
    }
}



.g1ListResults {
    display: grid;
}

.g1IconEmail {
    color: black;
    @include link-states();
}

.g1GridResults {
    display: flex;
    flex-wrap: wrap;

    .g1VolResultCard {
        position: relative;
        width: 100%;

        color: var(--color-black);
        line-height: 1rem;

        --margin-x: .5rem;

        .g1VolResultCard__Name::after,
        .g1VolResultCard__AvatarLink::after {
            content: 'See Profile';
            position: absolute;
            top: 6rem;
            right: 0;
            padding: 0.25rem 0.7rem;
            border: solid 1px #333;
            border-radius: var(--border-radii);
            box-shadow: 2px 1px 4px #0009;
            font-size: 1rem;
            line-height: 1.2;
            color: #fff;
            background-color: #12ace8;
            opacity: 0;
            transition: opacity .4s ease-out;
        }

        .g1VolResultCard__Name:hover::after,
        .g1VolResultCard__AvatarLink:hover::after {
            opacity: 1;
        }

        .g1InnerVolResultCard {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            background-color: var(--color-white);
            border: solid 1px var(--color-white);
            border-radius: var(--border-radii);
        }

        // col-12
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

        @media (min-width: 500px) { // col-sm-6 (altered down to 500px from 576px)
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media (min-width: 768px) { // col-md-4
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        @media (min-width: 992px) { // col-lg-3
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        &__Name {
            h4 {
                margin-bottom: 0px;
                padding: 0.2rem var(--margin-x) .2rem var(--margin-x);
                border-radius: var(--border-radii) var(--border-radii) 0 0;
                color: #000000;
                background-color: #c1ba93;
                font-size: 1.3rem;
                transition: color .2s ease-out;
            }

            @include link-states();
            h4:hover, h4:active {
                color: #106b8e;
            }
        }

        &__IconEmail {
            &:link, &:visited {
                position: relative;
                top: -7px;
                padding: 0 1rem 0.3rem var(--margin-x);
                width: fit-content;
                font-size: 1.2rem;
                color: var(--color-primary);
            }

            @include link-states();

            &:hover, &:active {
                filter: drop-shadow(0px 0px 2px #12ace8);
            }
        }

        &__Job {
            margin: 0 var(--margin-x) .5rem var(--margin-x);
            line-height: 1.1rem;
            // color: var(--color-yellow);
            // text-shadow: 0px 1px 1.5px #8c8557;
        }

        &__Avatar {
            border: solid 1px #bbb;
            border-width: 1px 0;
            margin-bottom: .5rem;
            cursor: pointer;
            width: 100%;
            height: 13rem;
            object-fit: cover;
        }

        &__Interests {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            // display: grid;
            // grid-template-columns: repeat(7, 1fr);
            // grid-template-rows: 1fr;

            cursor: default;
            margin: 0 var(--margin-x) .5rem var(--margin-x);
            list-style: none;

            font-size: 1rem;

            li {
                padding-right: .6rem;
                font-family: var(--ff-accent);
                font-weight: bold;

                &::after {
                    position: absolute;
                    content: 'Interested in ' attr(data-tooltip);
                    left: 50%;
                    padding: .25em .5em;
                    border: solid 1px #333;
                    border-radius: var(--border-radii);
                    background-color: #dddd;
                    text-align: center;
                    color: #111;
                    transform: translate(-50%, -4rem);
                    opacity: 0;
                    transition: opacity .2s ease-out;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            .g1Interest {
                &--Mentor { color: #16b716; grid-column: 1; }
                &--OHours { color: #16b716; grid-column: 2; }
                &--TechInt { color: #e000e0; grid-column: 3; }
                &--BehaveInt { color: #e000e0; grid-column: 4; }
                &--ProSkills { color: #e09305; grid-column: 5; }
                &--SiteHost { color: #12b9b9; grid-column: 6; }
                &--Speaker { color: #12b9b9; grid-column: 7; }
            }
        }

        &__Skills {
            margin: 0 var(--margin-x) .4rem var(--margin-x);
            list-style: none;
            font-size: .8rem;

            li::before {
                content: '▸ ';
            }

            li.g1MoreItemsMsg {
                font-style: italic;
                color: #888;

                &::before {
                    display: none;
                }
            }
        }

        hr {
            margin: 1rem 0 .1rem 0;
        }

        &__NextEvent {
            margin: 0 var(--margin-x) .6rem var(--margin-x);
            color: #888;
            font-size: .8rem;

            a {
                color: var(--color-black);
                font-weight: bold;

                @include link-states();
            }
        }
    }

}