.g1ToggleListOrGrid {
    .g1LeftLabel {
        margin-left: 1rem;
    }
    .custom-switch {
        display: inline-block;
        margin-left: .4rem;

        label::before {
            left: -2.2rem;
        }
        label::after {
            left: calc(-2.2rem + 2px);
        }
    }
}



.g1ListResults {
    display: grid;
}

.g1IconEmail {
    @include link-states();
}

.g1GridResults {
    display: flex;
    flex-wrap: wrap;

    .g1VolResultCard {
        position: relative;
        width: 100%;

        color: var(--color-black);
        font-size: .8rem;
        line-height: 1rem;

        --margin-x: .5rem;

        .g1InnerVolResultCard {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            background-color: var(--color-white);
            border: solid 1px var(--color-white);
            border-radius: var(--border-radii);
        }

        // col-12
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;

        @media (min-width: 500px) { // col-sm-6 (altered down to 500px from 576px)
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media (min-width: 768px) { // col-md-4
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        @media (min-width: 992px) { // col-lg-3
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        &__Name {
            cursor: pointer;
            margin: .2rem var(--margin-x) 0 var(--margin-x);
            font-size: 1.3rem;
        }

        &__IconEmail {
            &:link, &:visited {
                position: relative;
                top: -3px;
                margin: 0 0 .3rem var(--margin-x);
                font-size: 1rem;
                color: var(--color-black);
            }

            @include link-states();
        }

        &__Job {
            margin: 0 var(--margin-x) .5rem var(--margin-x);
        }

        &__Avatar {
            border: solid 1px #bbb;
            border-width: 1px 0;
            margin-bottom: .5rem;
            cursor: pointer;
            width: 100%;
            height: 13rem;
            object-fit: cover;
        }

        &__SkillsInterests {
            margin: 0 var(--margin-x) .5rem var(--margin-x);
            list-style: none;

            li::before {
                content: '▸ ';
            }
            li.g1MoreItemsMsg::before {
                display: none;
            }
        }
    }

}