.g1Module {
    position: relative;
    border-radius: var(--border-radii);
    background-color: transparent; // negates bootstrap card style
    line-height: 1.2rem;
    padding-bottom: .1rem;
    box-shadow: 4px 1px 3px #0009;

    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        border-radius: var(--border-radii);

        // border-radius: var(--border-radii);
        // background-image: linear-gradient(90deg, rgba(37, 13, 68, 0.45) 0%, rgba(75, 50, 107, 0.41) 100%);
        // background-image: linear-gradient(90deg, rgba(75, 50, 107, 0.41) 0%, rgba(37, 13, 68, 0.45) 100%);
        // background-image: linear-gradient(58deg, rgba(30, 9, 61, 1) 61%, rgba(75, 50, 107, 0.41) 100%); sangria
        // filter: hue-rotate(17deg);
    }

    &__Inner {
        position: relative;
    }

    &.deepSangria {
        border: solid 1px #3e3054;

        &::before {
            background-image: linear-gradient(76deg, #2a0637 45%, #441e55 100%);
        }

        .g1HeaderColor {
            color: #c37bb7;
        }
    }

    &.blueBerry {
        border: solid 1px #303954;

        &::before {
            background-image: linear-gradient(76deg, #090e32 45%, #09142a 100%);
        }

        .g1HeaderColor {
            color: #7ba1c3;
        }

        .g1THead, .g1TimeCol u {
            color: #2a697d;
        }
    }

    &.lodeStone {
        border: solid 1px #4a3206;

        &::before {
            background-image: linear-gradient(76deg, #444444 45%, #545454 100%);
        }

        .g1Module__Header {
            background-color: #2b2a27;
        }

        .g1HeaderColor {
            color: #bda264;
        }

        .g1THead, .g1TimeCol u {
            color: #8a652e;
        }
    }

    &.champagneCanvas {
        border: solid 1px #906007;

        &::before {
            background-image: linear-gradient(76deg, #d0d0d0 45%, #f5f5f5 100%);
        }

        .g1Module__Header {
            background-color: #ad983163;
        }

        .g1HeaderColor {
            color: #bda264;
        }

        .g1THead, .g1TimeCol u {
            color: #8a652e;
        }
    }

    &.nurseryCanvas {
        border: solid 1px #547bb5;
        padding-bottom: 0;

        .g1Module__Body { color: var(--color-black); }
        .modal-header { border-radius: 0; }
        .modal-header h4 {
            font-family: var(--ff-top);
            color: #111;
        }
        .custom-switch { padding-left: 2.5rem; }
        .custom-control { width: 9rem; }

        &::before {
            background-image: linear-gradient(76deg, #d0d0d0 45%, #f5f5f5 100%);
        }

        .g1Module__Header {
            background-color: #8ca8cc;
        }

        // .g1HeaderColor {
        //     color: #bda264;
        // }

        // .g1THead, .g1TimeCol u {
        //     color: #8a652e;
        // }
    }

    &.dataModule {
        border: solid 2px #420b5f;
        margin-bottom: .3rem !important;

        &::before {
            background-image: linear-gradient(76deg, #080808 60%, #101010 100%);
        }

        .g1HeaderColor {
            color: #616161;
        }

        .g1THead, .g1TimeCol u {
            color: #444;
        }
    }


    &.pastEventsModule::before, &.importantEventsModule::before {
        filter: hue-rotate(-33deg);
    }
    &.pastEventsModule .g1THead, &.importantEventsModule .g1THead,
    &.pastEventsModule .g1Table .g1TimeCol u, &.importantEventsModule .g1Table .g1TimeCol u {
        color: #415798;
    }

    &.goldModule {
        &::before {
            background-image: linear-gradient(90deg, rgba(95, 84, 54, 0.88) 0%, rgba(109, 90, 0, 0.35) 100%);
        }
        .g1Module__Header span {
            color: #b39d5d;
        }
        .g1THead {
            color: #de9e3b;
        }
    }



    &__Header {
        background-color: #ffffff0f;
        border-radius: var(--border-radii) var(--border-radii) 0 0;
        padding: .75rem 1.25rem .1rem 1.25rem;
        margin-bottom: .65rem;
        border-bottom: 1px solid rgba(0,0,0,.25);
    
        color: #e2e2e294;
        font-family: var(--ff-accent);
        font-size: var(--fs-h3);
        font-weight: 900;
    
        span {
            color: var(--color-primary);
            color: #75bef5;
        }
    }
    
    &__Body {
        padding-top: 0;
        padding-bottom: .2rem;
        color: var(--color-white);
    }
}