.g1VolProfile {
    a {
        @include link-states();
    }

    &__BlackLabel {
        font-family: var(--ff-top);
        font-size: .8rem;
        text-transform: lowercase;
        font-weight: bold;
        margin-left: 2.1rem;
        width: 5rem;
        text-align: left !important;
        white-space: nowrap;
        color: var(--color-black);

        &.g1Black {
            color: var(--color-black) !important;
        }
    }

    &__Company {
        color: var(--color-yellow);
    }

    .g1ModalField {
        &[data-type='skills'] {
            margin-bottom: .5rem !important;
        }

        &[data-type='mentoring'] {
            grid-area: 2 / 2;

            i {
                display: inline-block;
                margin-right: 0.7rem;
                font-style: normal;
                font-family: var(--ff-top);
                font-size: .9rem;
                text-align: left;
                text-transform: lowercase;
                font-weight: bold;
                white-space: nowrap;

                @media (max-width: 767px) {
                    white-space: normal;
                }

                @media (max-width: 575px) {
                    text-align: center;
                }
            }
        }
    }


    .g1MentoringFlex {
        margin-left: 2.1rem;
        grid-template-rows: 1.2rem auto;

        @media (max-width: 767px) {
            grid-template-columns: 12rem 6rem auto;
        }

        button {
            grid-area: 2 / 1;
            width: 11rem;
            margin-top: .2rem;
        }
    }

    .g1MentorActiveLabel {
        grid-area: 1 / 1;
        margin-bottom: .5rem;

        font-family: var(--ff-accent);
        font-weight: bold;
    }

    .g1MenteesList {
        grid-area: 2 / 3;
    }

    .g1VolModalEvents {
        margin-left: 2.1rem;

        li a::before {
            content: '▸ ';
        }
    }
}


.g1MentoringMgr {
    @include flex-straight(column, flex-start, center);

    &__Avatar {
        width: 200px;
        border-radius: var(--border-radii);
    }

    & > div {
        margin: .3rem 10%;
    }

    div b {
        display: inline-block;
        margin-right: .3rem;
        font-family: var(--ff-top);
        font-size: .8rem;
        font-weight: bold;
        color: #000;
        text-transform: lowercase;
    }

    &__Skills {
        @include flex-straight(column, flex-start, center);

        b { display: block; }

        ul {
            text-align: center;
        }
    }

    &__TypeLabel {
        font-family: var(--ff-accent);
        color: var(--color-yellow);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.g1MenteesForm {
    margin-top: 1.8rem;
}

.g1MenteesCards {
    padding: 0 1rem;

    .deepSangria {
        margin: 0 .1rem;
        min-height: 30rem;

        .g1MentorAssignBtn {
            margin: .5rem 0 .8rem 0;
            width: 14rem;
        }
    }

    .g1Module__Header {
        display: none;
    }

    .g1MenteeAvatar {
        object-fit: cover;
        object-position: top;
        height: 200px;
        width: 200px;
        margin-bottom: .6rem;
        border-radius: var(--border-radii);
    }
}