@import './styles/base';
@import './styles/ui-modules';
@import './styles/volunteers-results.scss';
@import './styles/events-results.scss';


.appLogo {
    height: 10vh;
}


.inputFormText {
    background-color: inherit;
    border: inherit;
    border-bottom: dashed 1px #e2e2e2;
    color: #e2e2e2;
}

// .lightBox, .feedbackContainer {
.feedbackContainer {
    position: fixed;
    width: 80vw;
    top: 10vh;
    max-height: 88vh;
    overflow: scroll;
    left: 10vw;
    background-image: linear-gradient(180deg, #1a1635 5%, #696a81 50%, #908fa1 89%);
    z-index: 5;
}

.closeButton {
    position: sticky;
    top: 0;
    z-index: 6;
}

.imageIcon {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.plainUl {
    list-style: none;
}