@import './styles/base';
@import './styles/modals'; // needs archiving, keep at top after base until then
@import './styles/login-signup';
@import './styles/ui-modules';
@import './styles/events-dashes.scss';
@import './styles/new-volunteers-dash.scss';
@import './styles/volunteers-results';
@import './styles/events-results';
@import './styles/volunteer-profile';
@import './styles/navbar';



.appLogo {
    height: 10vh;
}


.inputFormText {
    background-color: inherit;
    border: inherit;
    border-bottom: dashed 1px #e2e2e2;
    color: #e2e2e2;
}

.closeButton {
    position: sticky;
    top: 0;
    z-index: 6;
}

.imageIcon {
    width: 150px;
    height: 150px;
    object-fit: scale-down;
}

.plainUl {
    list-style: none;
}

.plainLink {
    text-decoration: inherit;
    color: inherit;
}
.plainLink:hover {
    text-decoration: inherit;
    font-weight: bolder;
    color: inherit;
}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.mentoring{
    position: absolute;
    top: 70%;
    left: 58%;
}

.pre-fill{
    padding: .25rem .25rem;
    font-size: 1px;
    border: -51px;
    border-radius: 0;
    background-color: rgba(108, 117, 125, .3);
    border-color: rgba(108, 117, 125, .3);
}
.pre-fill:hover{
    background-color:rgba(108, 117, 125, .2);
    border-color: rgba(108, 117, 125, .2);
}

.userName {
    color: var(--color-white);
    background-color: #1b2061c7;
    font-family: var(--ff-accent);
    font-size: 1.3rem;
    border-radius: var(--border-radii);
    font-weight: bold;
    margin-bottom: 1rem;
    border: solid 1px #0c326b;
    padding: .75rem 1rem .4rem 1rem;
}

.notFoundPage {
    background: url('/images/404-error.png') no-repeat center center fixed;
    height: 85vh;
    -Webkit-background-size: 'cover';
    -Moz-background-size: 'cover';
    background-size: cover;
}