@import './styles/base';



.feedbackContainer {
    position: fixed;
    width: 80vw;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    background-color: #eeeeee;
    border: 1px black;
}

.appLogo {
    height: 10vh;
}


.inputFormText {
    background-color: inherit;
    border: inherit;
    border-bottom: dashed 1px;
}

.lightBox {
    position: fixed;
    width: 80vw;
    top: 10vh;
    max-height: 85vh;
    overflow: scroll;
    left: 10vw;
    right: 10vw;
    background-color: #eeeeee;
    border: 1px black;
}