/* FONT IMPORTS */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/static/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
